In [1]:
import sys
sys.path.append('../')
from utils import *

In [2]:
dtypes = {'y_start':str, 'y_end':str, 'x_start':str, 'x_end':str}

In [3]:
df = pd.read_csv(mst_path + 'clean_edge.csv', dtype = dtypes)
df.head()

,y_start,y_end,x_start,x_end,highway,oneway,edge_index,length
0,-117.7037585,-117.7037344,34.1049333,34.1049489,footway,False,0,3.189174
1,-117.7037344,-117.7036888,34.1049489,34.1049566,footway,False,0,5.133640
2,-117.7036888,-117.7036459,34.1049566,34.10495,footway,False,0,4.818226
3,-117.7036459,-117.7036164,34.10495,34.1049133,footway,False,0,5.235189
4,-117.7036164,-117.703603,34.1049133,34.1048756,footway,False,0,4.451838

In [4]:
unique_starts = df.groupby(['y_start', 'x_start']).size().reset_index().drop(0, 1).rename(columns={'y_start':'y', 'x_start':'x'})
unique_ends = df.groupby(['y_end', 'x_end']).size().reset_index().drop(0, 1).rename(columns={'y_end':'y', 'x_end':'x'})
unique = pd.concat([unique_starts, unique_ends]).drop_duplicates()
print(unique.shape)
unique.head()

(7543, 2)

                     y                   x
0         -117.7030676          34.0987426
1         -117.7030888          34.0995394
2  -117.70311366666667          34.0987551
3         -117.7031166          34.1053609
4       -117.703135675  34.099540624999996

In [5]:
nodes = defaultdict(list)
for y,x in zip(unique['y'], unique['x']):
    nodes['y'].append(y)
    nodes['x'].append(x)
    nodes['elevation'].append(get_elevation(x, y))
nodes = pd.DataFrame(nodes).sort_values(by=['y', 'x'])
nodes.index = range(len(nodes))
nodes.head()

                     y                   x   elevation
0         -117.7030676          34.0987426  373.615295
1         -117.7030888          34.0995394  376.185760
2  -117.70311366666667          34.0987551  373.649719
3         -117.7031166          34.1053609  397.213226
4       -117.703135675  34.099540624999996  376.146210

In [6]:
nodes.to_csv(mst_path + 'clean_node.csv', index = None)