In [1]:
import sys
sys.path.append('../')
from utils import *

In [2]:
dtypes = {'y_start':str, 'y_end':str, 'x_start':str, 'x_end':str}

In [3]:
df = pd.read_csv(mst_path + 'clean_edge2.csv', dtype = dtypes)
df.head()

,y_start,y_end,x_start,x_end,highway,oneway,edge_index,length
0,-117.7092997,-117.7093008,34.1029743,34.1030215,service,False,0,5.254779
1,-117.7093008,-117.7093019,34.1030215,34.1030687,service,False,0,5.254779
2,-117.7093019,-117.709303,34.1030687,34.103115900000006,service,False,0,5.254779
3,-117.709303,-117.7093041,34.103115900000006,34.1031631,service,False,0,5.254779
4,-117.7092997,-117.70929995,34.1029743,34.10292775,service,False,1,5.181089

In [4]:
unique_starts = df.groupby(['y_start', 'x_start']).size().reset_index().drop(0, 1).rename(columns={'y_start':'y', 'x_start':'x'})
unique_ends = df.groupby(['y_end', 'x_end']).size().reset_index().drop(0, 1).rename(columns={'y_end':'y', 'x_end':'x'})
unique = pd.concat([unique_starts, unique_ends]).drop_duplicates()
print(unique.shape)
unique.head()

(12070, 2)

                     y                   x
0         -117.7027367          34.0978127
1   -117.7027370962963   34.09785844444444
2  -117.70273749259259   34.09790418888889
3  -117.70273788888889   34.09794993333333
4  -117.70273828518519  34.097995677777774

In [5]:
nodes = defaultdict(list)
for y,x in zip(unique['y'], unique['x']):
    nodes['y'].append(y)
    nodes['x'].append(x)
    nodes['elevation'].append(get_elevation(x, y))
nodes = pd.DataFrame(nodes).sort_values(by=['y', 'x'])
nodes.index = range(len(nodes))
nodes.head()

                     y                   x   elevation
0         -117.7027367          34.0978127  371.998627
1   -117.7027370962963   34.09785844444444  372.332794
2  -117.70273749259259   34.09790418888889  372.450928
3  -117.70273788888889   34.09794993333333  372.806061
4  -117.70273828518519  34.097995677777774  373.022583

In [6]:
nodes.to_csv(mst_path + 'clean_node2.csv', index = None)